node_modules
vendor
.git
.gitignore
public/build
public/hot
storage/app/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
.DS_Store
Thumbs.db
tests
docker-compose.yml
*.md
.idea
.vscode
